################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Software/plover/DictionaryConverter/bin/Debug
/Software/plover/DictionaryConverter/obj/Debug
Software/plover-copy/plover/assets/voc-it.json
